{{#if documents}}
<div class="documents-container">
  <div class="documents-header">
    <span>Documents</span>
    <i class="edit-icon"></i>
  </div>
  <table class="documents-table">
    <thead>
      <tr>
        <th>Insured Name</th>
        <th>Document Name</th>
        <th>Document Number</th>
        <th>File Name</th>
        <th>Size</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{documents}}</td>
        <td>{{documents}}</td>
        <td class="document-number">{{documents}}</td>
        <td class="file-name">{{documents}}</td>
        <td>{{documents}}</td>
      </tr>
    </tbody>
  </table>
</div>
{{/if}}
